* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: textos;
}

body {
  background: #f7f7f7;
}

@font-face {
  font-family: titulos;
  src: url(../assets/fontes/Michroma-Regular.ttf);
}

@font-face {
  font-family: textos;
  src: url(../assets/fontes/Metrophobic-Regular.ttf);
}

.cabecario {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cabecario #menu {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.cabecario #menu a {
  color: white;
  font-size: 20px;
  font-family: titulos;
  text-decoration: none;
}

.corpo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpo .menuP {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 20px 0;
}
.corpo #copa {
  width: min(980px, 100%);
  margin: auto;
  padding: 70px 40px;
}
.corpo #cultura {
  width: min(980px, 100%);
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: clamp(30px, 5vw, 70px);
}

.corpo .menuP button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: titulos;
  font-size: 16px;
  letter-spacing: 1px;
  color: #4d4d4d;
  position: relative;
}

.corpo .ativo {
  color: #5d7f63;
}

.corpo .ativo::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #5d7f63;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.corpo .resumo {
  width: min(700px, 100%);
  margin: auto;
  text-align: center;
}

.corpo .textresumo {
  color: #333;
  line-height: 1.8;
  font-size: 18px;
}

/* SELEÇÃO - CONSULTAR JS PARA ENTENDER MELHOR ESSA PARTE */

.corpo .selecao {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 30px;
}

.corpo .titulo2 {
  text-align: center;
  font-size: 3rem;
  font-family: titulos;
  font-weight: 400;
  color: #151515;
}

.corpo .carrossel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.corpo .seta {
  background: none;
  border: 1px solid #ccc;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  color: #444;
  flex-shrink: 0;
  transition: background 0.2s;
}

.corpo .seta:hover {
  background: #e0e0e0;
}

.corpo .jogadores {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.corpo .jogadores::-webkit-scrollbar {
  display: none;
}

.corpo .card {
  min-width: 230px;
  width: 350px;
  background: #fdfdfd;
  border: 2px solid #efe3a5;
  padding: 1rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.corpo .topo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.corpo .codigo {
  color: #b0b0b0;
  font-size: 0.65rem;
  letter-spacing: 1px;
}

/* BANDEIRA DEFINIDA PELO JS SELEÇÃO */

.corpo .bandeira {
  width: 22px;
  height: 14px;
  display: flex;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
}

.corpo .cor {
  flex: 1;
}

.corpo .imagem {
  width: 80%;
  height: 200px;
  background-color: #000000;
}

.corpo .imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.corpo .posicao {
  width: fit-content;
  background: #f5e58c;
  color: #9b8533;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.corpo .nome {
  font-size: 1.8rem;
  color: #111;
  line-height: 1;
}

.corpo .cidade {
  color: #444;
  font-size: 0.75rem;
  line-height: 1.4;
}

.corpo .card .linha-card {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}

.corpo .card .infos {
  display: flex;
  width: 100%;
}

.corpo .card .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.corpo .card .numero {
  font-size: 1.5rem;
  color: #222;
}

.corpo .card .estrela {
  color: #e4c500;
}

.corpo .card .texto {
  font-size: 0.7rem;
  color: #aaa;
}

.corpo .card .rodape {
  display: flex;
  justify-content: space-between;
  color: #b0b0b0;
  font-size: 0.65rem;
  margin-top: 8px;
}

.esconder {
  display: none !important;
}
.corpo .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.corpo .linha-topo {
  width: 100%;
  margin-top: 1rem;
  height: 4px;
  border-radius: 20px;
  background: gray;
}

.corpo .conteudo {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 40px;
}

.corpo .linhaHistoria {
  width: 1px;
  height: 100%;
  background: #a4a3a3;
}

.corpo .subtitulo {
  color: #9a9a9a;
  font-size: 16px;
  margin-bottom: 12px;
}

.corpo .historia-grid {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 40px;
  align-items: start;
}

.corpo .titulo-historia {
  font-size: 3rem;
  font-family: titulos;
  line-height: 1;
  margin-bottom: 20px;
  color: #111;
  font-weight: 400;
}

.corpo .cor-pais {
  color: #2f7d54;
  font-family: titulos;
}

.corpo .texto-historia {
  color: #444;
  line-height: 1.7;
  font-size: 18px;
}

.corpo .ano {
  color: #3d8a57;
  font-size: 2.5rem;
  margin-bottom: 8px;
  font-family: titulos;
}

.corpo .texto-direita {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
}

.corpo .imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.corpo .imagens img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.corpo .titulo-momentos {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.corpo .titulo-momentos p {
  font-size: 3rem;
  font-family: titulos;
  color: #111;
  font-weight: 400;
}

.corpo .linha {
  width: 100%;
  height: 1px;
  background: #b9ccb8;
}

.corpo .lista {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.corpo .item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 18px;
}

/*Numero lista tem que atualizar a cor conforme o país, checar o html pra ir mudando conforme o certo*/
.corpo .numero-lista-brasil {
  font-size: 2rem;
  font-family: titulos;
  color: #000000;
}

.corpo .descricao {
  color: #333;
  line-height: 1.7;
  font-size: 18px;
}

/* CULTURA */

.corpo .cultura-container {
  width: min(900px, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.corpo .titulo-cultura {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.1;
  font-family: titulos;
  margin-bottom: 20px;
}

.corpo .bloco-cultura {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.corpo .bloco-cultura img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.corpo .bloco-cultura p {
  color: #333;
  line-height: 1.8;
  font-size: 1rem;
}

.corpo .invertido {
  grid-template-columns: 1fr 1fr;
}

/* RODAPÉ */

.corpo #rodape {
  width: 100%;
  height: 40vh;
  margin-top: 100px;
  background-color: #111;
  color: white;
  padding: 40px 10%;
}

.corpo #rodape .conteudoRodape {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.corpo #rodape .infoRodape {
  max-width: 450px;
}

.corpo #rodape .infoRodape h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.corpo #rodape .infoRodape p {
  opacity: 0.8;
  line-height: 1.5;
}

.corpo #rodape .linksRodape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.corpo #rodape .linksRodape h4 {
  margin-bottom: 5px;
}

.corpo #rodape .linksRodape a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.corpo #rodape .linksRodape a:hover {
  opacity: 1;
}

.corpo #rodape .copyright {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  opacity: 0.7;
}
